.hide-print-button {
    display: none;
}
.client-agreement-header {
    position: fixed;
    top: 30px;
    left: 30px;
}
.divider-top {
    width: 100%;
    height: 1px;
    background: #000000;
}
.for-bottom-border {
    position: relative;
}
.client-agreement-header::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background-color: #000;
    bottom: -10px;
    left: 30px;
}
hr {
    display: none;
}

.buttons {
    display: none;
}
.first-agreement-container {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.logo {
    width: 380px;
    margin-right: 10px;
}
.for-margin-of-logo {
    margin-left: 40px !important;
}

.debt-text {
    margin-left: 10px;
    padding-top: 24px;
    font-size: 30px;
    font-weight: 500;
    font-family: "Barlow", sans-serif;
}

.text-to {
    position: relative;
    margin-right: 155px;
}
.f-ol-li1 {
    position: relative;
}
.to-margin {
    position: absolute;
    left: 310px;
}

.text-to::after {
    content: "";
    position: absolute;
    background: #000;
    height: 1.5px;
    width: 150px;
    bottom: -3px;
    left: 45px;
}

.text-and {
    position: relative;
    margin-right: 290px;
}

.text-and::after {
    content: "";
    position: absolute;
    background: #000;
    height: 1px;
    width: 290px;
    bottom: -5px;
    left: 30px;
}

.and-margin {
    position: absolute;
    left: 280px;
}

.d-f-agreement {
    margin-left: 160px;
    position: relative;
}
.date_of_agreement_top {
    position: absolute;
    right: 2px;
    top: 7px;
}

.d-f-agreement::after {
    content: "";
    position: absolute;
    background: #000;
    height: 1px;
    width: 162px;
    bottom: -5px;
    left: 140px;
}

.expiry {
    padding-right: 21px;
    position: relative;
}
.date_of_expiry {
    position: absolute;
    right: -0px;
    top: 16px;
}

.d-f-expiry {
    margin-left: 194px;
    position: relative;
}

.d-f-expiry::after {
    content: "";
    position: absolute;
    background: #000;
    height: 1px;
    width: 164px;
    bottom: -5px;
    left: 108px;
}

.case-num {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    text-align: center;
    color: #ffff;
    background: #000;
    font-weight: 600;
    padding-left: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 0;
    border-bottom: none;
    border: 1px solid black;
}

.case-prov {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 13px;
    color: #ffff;
    background: #000;
    font-weight: 600;
    padding-left: 0;
    padding-right: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid black;
}

.for-p {
    padding-left: 58px;
    box-sizing: border-box;
}

.for-p2 {
    padding-left: 60px;
    box-sizing: border-box;
    padding-top: 150px;
}
.point-five {
    padding-top: 150px;
}

.box-1st {
    border: 2px solid black;
    padding-top: 7px;
}

.box-2nd {
    border: 2px solid black;
    padding-top: 7px;
}

/*  */

.bd-highlight {
    margin-left: -15px;
}

.col-md-3 {
    max-width: 20%;
}

.s-dollar-sign {
    position: relative;
    margin-right: 146px;
}

.s-dollar-sign::after {
    content: "";
    position: absolute;
    background: #000;
    width: 150px;
    height: 2px;
    left: 15px;
    bottom: -3px;
}

.dollar-margin {
    position: absolute;
    left: 30px;
}

.text-be {
    position: relative;
    margin-right: 55px;
}

.text-be::after {
    content: "";
    position: absolute;
    background: #000;
    width: 60px;
    height: 2px;
    left: 17px;
    bottom: -3px;
}

.be-margin {
    position: absolute;
    left: 40px;
}

.text-of {
    position: relative;
    margin-right: 38px;
}

.text-of::after {
    content: "";
    position: absolute;
    background: #000;
    width: 40px;
    height: 2px;
    left: 17px;
    bottom: -3px;
}

.of-margin {
    position: absolute;
    left: 25px;
}

/*  */

.four-ul {
    list-style: none;
    padding: 0;
    margin-left: -14px;
}

/* .dear-sir h5 {
    padding-top: 17px;
    padding-left: 15px;
    font-size: 15px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
} */

.ol-start .first-ol {
    padding-right: 50px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

.ol-start .first-ol li {
    margin-top: 16px;
    padding-left: 15px;
    line-height: 25px;
}

/* provisions start */
.new-ul-start .provisions li {
    padding-bottom: 20px;
    list-style: none;
}

.new-text p {
    font-size: 13px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    padding-left: 35px;
}

.new-text .further {
    padding-left: 10px;
}

.right-padd {
    padding-left: 30px;
}

.right-within {
    padding-left: 38px;
}

.another-padd {
    padding-left: 38px;
}

.continue-ul {
    margin-top: 15px;
    padding-left: 150px;
}

.after-ul {
    margin-top: 15px;
    padding-left: 60px;
}

.dated {
    position: relative;
}

.dated::after {
    content: "";
    position: absolute;
    background: #000;
    width: 170px;
    height: 2px;
    bottom: -5px;
    right: -410%;
}

.january-4 {
    padding-left: 50px;
    font-weight: 700;
}

.company_uen {
    padding-left: 80px;
}
.company_name {
    padding-left: 53px;
}
.date_uen {
    padding-left: 130px;
}

.company_uen_2 {
    padding-left: 68px;
}

.another-row {
    margin-block: 40px;
}

.another-row .second-box {
    position: relative;
    margin-top: -20px;
    padding-bottom: 30px;
}

.another-row .second-box::after {
    content: "";
    position: absolute;
    width: 1.5px;
    height: 270px;
    background: #000;
    top: 0;
    left: -35px;
    display: none;
}

.another-row .second-box::before {
    content: "";
    position: absolute;
    width: 1.5px;
    height: 270px;
    background: #000;
    top: 0;
    left: -31px;
    display: none;
}

.sincere h4 {
    margin-bottom: 80px;
    margin-top: -20px;
}

.director {
    font-size: 14px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

.for-after {
    position: relative;
}

.for-after::after {
    content: "";
    position: absolute;
    width: 360px;
    height: 1.5px;
    background: #000;
    top: -20px;
    left: -10px;
}

.ravin {
    padding-left: 65px;
}

.ravin-date {
    padding-left: 86px;
}

.sincere .enclosed {
    font-size: 16px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    padding-top: 70px;
}

.company {
    position: relative;
}

.company::after {
    content: "";
    position: absolute;
    width: 290px;
    height: 1.5px;
    background: #000;
    bottom: -1px;
    left: 132px;
}

.Date {
    position: relative;
}

.Date::after {
    content: "";
    position: absolute;
    width: 290px;
    height: 1.5px;
    background: #000;
    bottom: -1px;
    left: 132px;
}

.location {
    display: none;
}
.location-for-second-page {
    display: none;
}

.Client {
    position: relative;
}

.Client::after {
    content: "";
    position: absolute;
    width: 290px;
    height: 1.5px;
    background: #000;
    bottom: -1px;
    left: 132px;
}

.designation {
    position: relative;
}

.designation::after {
    content: "";
    position: absolute;
    width: 290px;
    height: 1.5px;
    background: #000;
    bottom: -1px;
    left: 132px;
}

.stamp {
    position: relative;
    font-size: 13px;
}

.stamp:after {
    content: "";
    position: absolute;
    width: 290px;
    height: 1.5px;
    border: 1px dotted #000000;
    bottom: -6px;
    left: 132px;
}

.collection-li {
    position: relative;
}

.collection-li::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100px;
    background: #000000;
    right: -210px;
    bottom: 0;
}
.take-note {
    /* margin-top: 150px !important; */
    /* display: inline-block; */
}
.serve {
    margin-left: -30px;
    margin-top: 10px;
}

.hello_securre_mail,
.hello_securre_web {
    text-decoration: underline;
}

/* first page end */

/* second section start */

.second-section {
    font-weight: 600;
    font-size: 16px;
    /* margin-left: -300px; */
}
.warrant-act h1 {
    font-size: 100px;
    font-weight: 400;
    font-family: "Judson", serif;
    margin-top: 30px;
}
.warrant-act p {
    padding-bottom: 0px !important;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}
.new-hr {
    background: #000;
    padding-top: 2px;
    transform: translateY(-15px);
}

/*  */
.to-securre {
    padding-left: 10px;
    padding-right: 12px;
}
.client-information {
    padding: 4px 15px;
    background: #000;
    color: #ffff;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
}

.new-case {
    margin-top: 25px;
    margin-left: 220px;
}
.case-ref {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-align: center;
    color: #ffff;
    background: #000;
    font-weight: 500;
    padding-left: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 0;
}
.data-for-case {
    text-align: center;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    position: relative;
}
.case_ref {
    position: absolute;
    top: 3px;
    left: 10px;
}

.debtor-information {
    padding: 4px 15px;
    background: #000;
    color: #ffff;
    font-size: 16px;
    font-weight: 600;
    margin-left: 25px;
    margin-top: 10px;
}
.take-information ul {
    margin-top: 15px;
    margin-bottom: 30px;
}

.list-unstyled {
    margin-left: -30px;
}

.take-information ul li {
    margin-top: 8px;
}
.full-name {
    padding-left: 63px;
    position: relative;
}
.full-name::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 800px;
    background: #000;
    bottom: -4px;
    left: 105%;
}

.company-name {
    padding-left: 20px;
    position: relative;
}
.company-name::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 800px;
    background: #000;
    bottom: -4px;
    left: 105%;
}

.nric-no {
    padding-left: 31px;
    position: relative;
}
.nric-no::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 800px;
    background: #000;
    bottom: -4px;
    left: 105%;
}
.contact {
    position: relative;
}
.lorem3 {
    position: absolute;
    left: 0;
    top: 0;
}

.contact-no {
    padding-left: 49px;
    position: relative;
}
.contact-no::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 800px;
    background: #000;
    bottom: -4px;
    left: 105%;
}

.email-add {
    padding-left: 58px;
    position: relative;
}
.email-add::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 800px;
    background: #000;
    bottom: -4px;
    left: 105%;
}

.email-id {
    padding-left: 72px;
    position: relative;
}
.email-id::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 800px;
    background: #000;
    bottom: -4px;
    left: 105%;
}
.address {
    padding-left: 77px;
    position: relative;
}
.address::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 800px;
    background: #000;
    bottom: -4px;
    left: 105%;
}
.address::before {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 800px;
    background: #000;
    bottom: -34px;
    left: 105%;
}
.address-2 {
    padding-left: 77px;
    position: relative;
}
.address-2::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 800px;
    background: #000;
    bottom: -4px;
    left: 105%;
}

.remarks-li {
    padding-bottom: 50px;
}

.remarks {
    padding-left: 72px;
    position: relative;
}

.remarks::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 800px;
    background: #000;
    bottom: -4px;
    left: 105%;
}

.remarks::before {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 800px;
    background: #000;
    bottom: -34px;
    left: 105%;
}

/*  */

.padding-for-new-data1 {
    padding-left: 6px;
}

.padding-for-new-data2 {
    padding-left: 6px;
}

.padding-for-new-data3 {
    padding-left: 6px;
}

.padding-for-new-data4 {
    padding-left: 6px;
}

.padding-for-new-data5 {
    padding-left: 6px;
}

.padding-for-new-data6 {
    padding-left: 6px;
}

.padding-for-new-data7 {
    padding-left: 10px;
}

/*  */

.debt-amount-row {
    border: 2px solid #000;
    padding-top: 7px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.right-usd-data {
    position: absolute;
    top: 18px;
    left: 65%;
}
.bracket_end {
    position: absolute;
    right: 20px;
}

.total-debt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.new-usd {
    font-size: 20px;
}
.new-usd-after {
    font-size: 20px;
    font-weight: 500;
    padding-right: 20px;
    padding-left: 7px;
}
.new-usd-after span {
    margin-left: 0px;
}

.digit-amount {
    font-size: 16px;
    font-weight: 800;
}

.some-symble {
    font-size: 20px;
    font-weight: 500;
    padding-left: 12px;
    padding-right: 7px;
}
/* .new-usd-after::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 1.3px;
    background: #000;
    bottom: 0;
    right: 100;
} */
.another-information-row ol {
    padding-left: 60px;
    padding-right: 40px;
}
.another-information-row ol li {
    padding-left: 50px;
    padding-top: 5px;
}
.me-us-after {
    position: relative;
}
.me-us-after::after {
    content: "";
    position: absolute;
    height: 1.4px;
    width: 430px;
    background: #000;
    bottom: 0;
    left: 57px;
}
.me-us-after::before {
    content: ",";
    position: absolute;
    left: 539px;
    top: 0;
}

.agreement_name {
    margin-left: 10px;
}
.agreement_nric {
    margin-left: 10px;
}

.nric-no-uen-after {
    position: relative;
    margin-right: 462px;
}
.nric-no-uen-after::after {
    content: "";
    position: absolute;
    height: 1.4px;
    width: 585px;
    background: #000;
    bottom: 0;
    left: 113px;
}
.nric-no-uen-after::before {
    content: "),";
    position: absolute;
    top: 0;
    right: -460px;
}

.person {
    position: relative;
    margin-right: 320px;
}
.person::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 320px;
    background: #000;
    bottom: 0;
    left: 55px;
}
.contact {
    position: relative;
    padding-left: 30px;
}
.contact::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 200px;
    background: #000;
    bottom: 0;
    left: 91px;
}
.contact::before {
    content: ",";
    position: absolute;
    left: 22px;
}
.lorem-2 {
    position: absolute;
    left: 75px;
}

.lorem-3 {
    padding-left: 15px;
}

.last-ul li {
    list-style: none;
    margin-left: -20px;
    margin-top: 5px;
}

.last-ul :nth-of-type(5) {
    margin-top: 5px;
}

.data-mr1 {
    margin-left: 80px;
}

.data-mr2 {
    margin-left: 36px;
}

.data-mr3 {
    margin-left: 48px;
}

.data-mr4 {
    margin-left: 68px;
}

.data-mr5 {
    margin-left: 80px;
}

.new-underline {
    text-decoration: underline;
}

.warrant-footer {
    position: fixed;
    bottom: 30px;
    font-size: 14px;
    left: 100px;
}
.agreement-footer {
    position: fixed;
    bottom: 30px;
    font-size: 14px;
    left: 50px;
    line-height: 1;
}

/* contract print css start */

.contract_heading_div{
    position: relative;
    padding-bottom: 7px;
    border-bottom: 4px solid black;
}
.securre_text_img{
    width: 38%;
    padding-right: 10px;
    margin-left: 15px;

}
.con_span_text{
    font-size: 38px;
    position: absolute;
    top: 9px;
}


/*new */

 .abbr_row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 40px;
    }

    .box-group,
   .box_group_right{
        display: flex;
        align-items: center;
    }
    .box-group{
        margin-left: 50px;
    }
    .box_group_right{
        margin-right: 70px;
    }

    .label-box {
        background: #1f1f1f;
        color: #fff;
        padding: 8px 15px;
        font-weight: bold;
        border: 2px solid #000;
        border-right: none;
        font-size: 14px;
    }

    .value-box {
        padding: 8px 15px;
        border: 2px solid #000;
        font-size: 16px;
    }

    .red {
        color: red;
        font-weight: bold;
    }

/* new end */

/* new */
.agreement_cls{
    margin-top: 20px
}
.agreement_cls_ol li p{
    padding-left: 20px;
}
.line {
      line-height: 2;
      word-spacing: 2px;
    }

    .blank,
    .client_name{
      display: inline-block;
      border-bottom: 2px solid #000;
      min-width: 270px;
      text-align: center;
      padding: 0 4px;
      font-weight: bold;
    }
    .client_name{
        min-width: 500px;
    }
    .date-blank {
      min-width: 200px;
    }
    .client_id {
      min-width: 250px;
    }
    .red {
      color: red;
      font-weight: bold;
    }
.agreement_cls_ol li div:nth-child(1),
.agreement_cls_ol li div:nth-child(2),
.agreement_cls_ol li div:nth-child(3){
    position: relative;
}
.alpha{
    position: absolute;
    top: 3px;
    left: 20px;
}
.agreement_cls_ol li:nth-child(2) p{
    line-height: 2;
    word-spacing: 2px;
    padding-left: 45px;
}

.both_parties_li div:nth-child(2),
.both_parties_li div:nth-child(3),
.both_parties_li div:nth-child(4),
.both_parties_li div:nth-child(5),
.both_parties_li div:nth-child(6),
.both_parties_li div:nth-child(7),
.both_parties_li div:nth-child(8)
{
    position: relative;
}
.alpha_2{
    position: absolute;
    top: 2px;
    left: 20px;
}

.both_parties_li div:nth-child(2) p,
.both_parties_li div:nth-child(3) p,
.both_parties_li div:nth-child(4) p,
.both_parties_li div:nth-child(5) p,
.both_parties_li div:nth-child(6) p,
.both_parties_li div:nth-child(7) p,
.both_parties_li div:nth-child(8) p
{
    line-height: 2;
    word-spacing: 2px;
    padding-left: 200px;
}
 .admin_fee{
      display: inline-block;
      border-bottom: 4px solid #000;
      min-width: 200px;
      text-align: center;
      padding: 0 4px;
      font-weight: bold;
    }
    .interest{
        min-width: 80px;
    }
    .g_sign{
        min-width: 40px;
    }
      .red {
      color: red;
      font-weight: bold;
    }

.list_four div:nth-child(2),
.list_four div:nth-child(3),
.list_seven div:nth-child(2),
.list_seven div:nth-child(3)
{
    position: relative;
}
.alpha_3,
.alpha_4{
    position: absolute;
    top: 2px;
    left: 20px;
}
.list_four div:nth-child(2) p,
.list_four div:nth-child(3) p,
.list_seven div:nth-child(2) p,
.list_seven div:nth-child(3) p
{
    padding-left: 60px;
}

/* new end */
/* new */

    .For_Securre_Collection {
        display: flex;
        /* justify-content: space-between; */
        margin-top: 70px;
    }

   .left, .right {
        width: 56%;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .right{
        margin-left: 40px;
    }
    .left p,
    .right p{
        font-size: 20px;
    }
    .left{
        width: 42%;
        position: relative;
    }
    
    .divider::after{
        position: absolute;
        content: '';
        width: 2px;
        height: 100%;
        background: black;
        top: 0;
        right: 5px;
    }
    .divider_2::after{
        position: absolute;
        content: '';
        width: 2px;
        height: 100%;
        background: black;
        top: 0;
        right: 0;
    }

    .just_line {
        border-bottom: 2px dotted #000;
        height: 18px;
        margin-bottom: 10px;
        margin-top: 30px;
        margin-right: 70px;
    }

    .label_1{
        padding-right: 52px;
    }
     .label_2{
        padding-right: 7px;
    }
     .label_3{
        padding-right: 61px;
    }

    .row_for_left,
    .row_for_right {
        margin-bottom: 10px;
    }

    .red {
        color: red;
        font-weight: bold;
    }

    .note {
        margin-top: 30px;
        font-size: 16px;
        font-style: italic;
    }
 .signature{
      display: inline-block;
      border-bottom: 2px dotted #000;
      min-width: 70%;
      text-align: start;
      padding: 0 4px;
      margin-left: 2px;
      /* color: red; */
    }
    .r_signature_2{
        margin-left: 24px;
    }
    .r_date{
        margin-right: 93px;
    }

    /* new end */

    /* new */

    .take_note_main{
        margin-top: 50px;
    }
    .just_take_note span{
        background-color: black;
        padding: 7px 22px;
        color: white;
    }

    .take_note_ol{
        margin-top: 12px;
    }
    .take_note_ol li{
        margin-left: -15px;
    }
    /* .mail, */
    .pay_now{
        display: inline-block;
        border-bottom: 2px solid black;
        text-align: center;
        padding: 0 5px;
    }
/* contract print css end */




/* LOD start here */
.lod_heading_div{
    display: flex;
}
.lod_img{
    width: 30%;
    margin-right: 12px;
}
.lod_img img{
    width: 100%;
}
.lod_span_text p{
    font-size: 20px;
    padding-top: 6px;
    border-bottom: 6px solid black;
}

/* new */

 .ref_row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .ref_box_group,
   .ref_box_group_right{
        display: flex;
        align-items: center;
    }
    .ref_box_group{
        margin-left: 12px;
    }
    /* .ref_box_group_right{
        margin-right: 10px;
    } */

    .ref_label_box {
        font-weight: bold;
        font-size: 18px;
    }

    .ref_value_box {
        width: 200px;
        padding-left: 4px;
        border: 2px solid #c1bfbf;
        font-weight: 500;
        font-size: 16px;
        margin-left: 8px;
    }

    .red {
        color: red;
        font-weight: 500;
        /* font-weight: bold; */
    }

    /* new */
    .name_add_row{
        width: 100%;
        display: flex;
    }
    .first_3rd,
    .second_4th
    {
        min-width: 48%;
        margin-left: 30px;
    }
     .first_3rd{
        margin-left: 12px;
     }
    .name{
        font-size: 20px;
        color: rgb(255, 0, 0);
        font-weight: 600;
    }
    .add{
        font-size: 20px;
        color: rgb(255, 106, 106);
    }

    .name_3rd,
    .name_4th{
        margin-top: 10px;
    }

    /* new */
.top-row{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: -60px;
        margin-right: 40px;
    }
    .right-box{
        text-align: right;
        font-weight: bold;
    }
    .right-box a{
        color: #135eb4 !important;
        font-size: 16px;
        border-bottom: 2px solid #135eb4;
    }
    .date{
        margin-top: 5px;
        font-size: 18px;
    }
     .content_for_sir_mam{
        margin-top: 20px;
        font-size: 18px;
        margin-left: 12px;
    }
    .ref{
        margin-top: 8px;
        margin-left: 12px;
        font-size: 20px;
        font-weight: bold;
    }
    .ref span{
        color: red;
    }
       .lod_ol_cls{
        margin-top: 30px;
    }
    .lod_ol_cls li{
        margin-left: 10px;
    }
    .lod_ol_cls li p{
        padding-left: 6px;
    }
    .lod_ol_cls li:nth-child(1) p span,
    .lod_ol_cls li:nth-child(2) p span{
        color: red;
        padding-left: 10px;
        display: inline-block;
        border-bottom: 2px solid black;
        min-width: 420px;
        margin-left: 8px;
    }
    .lod_ol_cls li:nth-child(2) p span{
        min-width: 200px;
        margin-left: 10px;
        text-align: center;
    }
    .list_4_div_cls_1,
    .list_4_div_cls_2,
    .list_4_div_cls_3
    {
        position: relative;
    }
    .alpha_lod_1,
    .alpha_lod_2,
    .alpha_lod_3
    {
        position: absolute;
        top: 0;
        left: 85px;
    }
    .list_4_div_cls_1 p,
    .list_4_div_cls_2 p,
    .list_4_div_cls_3 p{
        margin-left: 100px;
    }
    .list_5 p span{
        padding-left: 10px;
        display: inline-block;
        border-bottom: 2px solid black;
        min-width: 200px;
        text-align: center;
    }
    .ind_color{
        color: #135eb4;
        text-decoration: underline;
    }

      /* new */

.lod_footer_div{
    display: flex;
    margin-top: 30px;
    /* width: 35%; */
    margin-left: 8px;
}
.lod_f_img p{
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
}
.lod_f_img img{
    width: 100%;
    padding-left: 85px;
    padding-top: 5px;
}
.lod_f_span_text{
    position: relative;
}
.after_span::after{
    position: absolute;
    content: ' ';
    height: 70%;
    width: 3px;
    background: rgb(12, 68, 131);
    top: 40px;
    left: 20px;
}
.lod_f_span_text{
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 5px;
}
.Ravin_Raj{
    font-weight: bold;
    color: rgb(12, 68, 131);
    margin-bottom: 18px;
}
.Securre_Collection{
    color: rgb(12, 68, 131);
    font-size: 18px;
    font-weight: 700;
    margin-top: -17px;
}

.lod_f_span_text_links{
    margin-top: -17px;
}

.lod_f_span_t{
    padding-right: 5px;
}
.lod_f_span_a{
    padding-right: 5px;
    padding-left: 27px;
}
.lod_f_span_e{
    padding-right: 5px;
    padding-left: 11px;
}
/* new */

/* .footer_text_cls{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.lod_last_p{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-left: -60px;
    /* margin-top: 10px; */
}

.footer_text_cls_child{
    width: 100%;
    position: relative;
}
.footer_after_span::after{
    position: absolute;
    content: ' ';
    height: 4px;
    width: 100%;
    background: rgb(12, 68, 131);
    bottom: -8px;
    left: -30px;
}
.lod_footer_info{
    margin-top: 50px;
    margin-left: -30px;
}
.lod_footer_info p{
    font-size: 14px;
}
.lod_f_did{
    padding-left: 30px;
}
.North_Bridge{
    padding-left: 28px;
}
.lod_foot_mail{
    margin-top: -17px;
}
/* LOD ends  */





/* Tax start */

.tax_heading_div{
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid black;
}
.tax_img{
    width: 35%;
    margin-left: 8px;
    padding-bottom: 8px;
}
.tax_img img{
    width: 100%;
}
.tax_span_text p{
    font-size: 26px;
    font-weight: 700;
    color: rgb(93, 94, 95);
    padding-top: 20px;
    margin-right: 30px;
}

/* new */

.tax_name_add_display{
    width: 100%;
    display: flex;
    margin-top: 35px;
}

.display_1{
    padding-left: 5px;
    width: 60%;
}
.display_2{
    padding-left: 30px;
    width: 38%;
}
.display_1 p{
    color: #327ed5;
    line-height: 12px;
}

.display_2 p{
    color: #fe5e5e;
    line-height: 12px;
}
/* new */
.statement_display{
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.statement_info_1{
    padding-left: 5px;
    /* width: 48%; */
}
.statement_info_1 p{
    line-height: 12px;
    font-weight: 700;
}
.stat_num,
.stat_cus_id,
.stat_cl_name
{
    padding-left: 33px;
    font-weight: 500;
}
.stat_date{
    padding-left: 90px;
    font-weight: 500;
}
.this_will,
.stat_cl_name
{
    color: rgb(255, 58, 58);
}



.invoice-summary-box {
  width: 52%;
  display: flex;
  justify-content: right;
}

.summary-table {
    width:90%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

.summary-table td{
    width: 50%;
}

.summary-table td {
    border: 1px solid #000;
    /* padding-: 10px; */
}

/* Normal rows */
.label-cell {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.amount-cell {
    text-align: center;
    font-weight: bold;
}

.red-text {
    color: red;
}

/* Final row */
.final-row td {
    font-weight: bold;
}

.final-left {
    background: #555;
    color: #fff;
    text-align: center;
}

.final-right {
    background: #e0e0e0;
    text-align: center;
}

/* new */
    .report-box {
      /* border: 2px solid #000; */
      /* width: 1000px; */
      max-width: 100%;
      margin-top: 20px;
    }

    .report-header {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      font-weight: bold;
      font-size: 16px;
      border-top: 1px solid #000;
      border-left: 1px solid #000;
      border-right: 1px solid #000;
    }

    .highlight-red {
      color: red;
    }

    .first_table {
      width: 100%;
      border-collapse: collapse;
    }

    .first_table th,
    .first_table td {
      border: 1px solid #000;
      padding: 6px 10px;
      text-align: center;
      font-size: 14px;
    }

    .first_table th {
      background-color: #555;
      color: #fff;
    }

    .first_table td {
      background-color: #dedede;
    }

    th.red-col {
      color: red;
    }

   .no-border-bg{
    border: none !important;
    background: white !important;
    text-align: right !important;
}
    /* new */

    .report-box-2 {
      /* border: 2px solid #000; */
      /* width: 1000px; */
      max-width: 100%;
      margin-top: 30px;
    }


    /* new */

    .remit-box {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.remit-header {
    background: #575757;
    color: white;
    padding: 8px 20px;
    font-size: 18px;
    font-weight: bold;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.remit-table {
    width: 100%;
    border-collapse: collapse;
}

.remit-table td {
    border: 1px solid #000;
    font-size: 14px;
}

.left-col {
    width: 24%;
    text-align: left;
    font-weight: bold;
    padding-left: 20px;
}

.mid-col {
    width: 38%;
    text-align: left;
    color: #0056a3;
    padding-left: 20px;
}

.right-col {
    width: 38%;
    text-align: left;
    color: #d00000;
    font-weight: 500;
    padding-left: 10px;
}

.highlight {
    color: red;
}

.only-text {
    text-align: center;
    color: black;
}

/* new */

.tax-footer-text{
    width: 90%;
    margin: 0 auto;
    padding-top: 2px;
    padding-left: 10px;
}
.tax-footer-text-1{
    font-size: 13px;
    font-weight: 700;
    padding-bottom: 15px;
    /* text-align: center; */
    line-height: 0;
}
.tax-footer-text-2{
    font-size: 14px;
    font-weight: 400;
    /* text-align: center; */
    line-height: 5px;
}
/* Tax end */




/* warrant start */

    .doc-wrapper {
        width: 100%;
        text-align: center;
    }

    .title-block {
        font-size: 60px;
        font-weight: 500;
        letter-spacing: 2px;
    }

    .subtext-block {
        margin-top: 5px;
        font-size: 14px;
        color: #000;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.4;
        font-weight: 400;
    }

    .line-divider {
        width: 100%;
        border-top: 2px solid #000;
        margin: 8px 0 30px 0;
    }

    .info-row {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        margin-top: 10px;
    }

    .issuer-label {
        font-weight: 500;
    }

    .issuer-value {
        font-weight: 500;
        margin-left: 6px;
    }
      .warrant-case-ref{
        margin-top: -20px;
        padding-right: 30px;
    }
    .case-label {
        font-size: 18px;
        font-weight: bold;
        margin-right: 5px;
    }

    .case-number {
        font-weight: bold;
        color: red;
        font-size: 22px;
        padding-left: 20px
    }

    /* new */
    
    .clause-line {
        margin-top: 20px;
        padding-left: 40px;
        margin-bottom: 30px;
    }

    .clause-line ol li{
        margin-bottom: -10px;
    }
    .clause-line ol li p{
        font-size: 14px;
    }
    .warrant_cl_name,
    .warrant_cl_id,
    .warrant_pic_name,
    .warrant_pic_num,
    .warrant_pic_mail
     {
        display: inline-block;
        border-bottom: 1.5px solid #000;
        padding: 0 5px;
        min-width: 120px;
        text-align: center;
    }

    .warrant_cl_name{
        min-width: 400px;
    }
    .warrant_cl_id{
        min-width: 220px;
    }
    .warrant_pic_name{
        min-width: 180px;
    }
    .warrant_pic_num{
        min-width: 185px;
    }
    .warrant_pic_mail{
        min-width: 185px;
    }
    .red-text {
        color: red;
        font-weight: bold;
    }

    /* new */

    
    .debt-box-wrapper {
        border: 3px solid #000;
        padding: 10px;
        width: 98%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 30px;
    }

    .debt-label-block {
        display: flex;
        /* width: 220px; */
        line-height: 1.2;
    }

    .debt-label-block p{
        text-align: center;
        margin-top: 10px;
    }
    .debt-placeholder {
        color: red;
        font-weight: 500;
        font-size: 18px;
        padding-top: 10px;
        margin-left: 32px;
    }

    .debt-right-side {
        font-size: 18px;
        white-space: nowrap;
        padding-right: 35px;
    }

    .red-num {
        color: red;
        font-weight: bold;
        padding-left: 40px;
        padding-right: 40px;
    }

    /* new */

    .debtor-section {
    width: 100%;
    margin-top: 15px;
    margin-left:60px;
}

.debtor-header {
    display: inline-block;
    background: #444;
    color: #fff;
    font-size: 16px;
    padding: 2px 15px;
    font-weight: 500;
    margin-bottom: 10px;
}

.debtor-row {
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: -14px;
    margin-left: 10px;
}

.debtor-field-1 {
    width: 51%;
    /* position: relative; */
}
.debtor-field-2 {
    width: 42%;
    margin-left: -20px;
}

.debtor-label {
    font-weight: 500;
    font-size: 16px;
    margin-right: 5px;
}
.debtor-label-add{
    padding-left: 15px;
}

.debtor-value {
        display: inline-block;
        border-bottom: 1.5px solid #000;
        padding: 0 5px;
        min-width: 70%;
        text-align: start;
        margin-left: 10px;
}
.debtor-value-add{
    min-width: 72%;
}
.debtor-remarks {
    margin-left: 22px;
}

.remarks-line-1,
.remarks-line-2
{
    display: inline-block;
    border-bottom: 1.5px solid #000;
    padding: 0 5px;
    margin-left: 10px;
    min-width: 80.5%;
    text-align: start;
}

.remarks-line-2{
    margin-left: 75px;
}


.debtor-final-summary{
    margin-left: -25px;
    margin-top: 25px;
}

.summary-line-1,
.summary-line-2{
    display: inline-block;
    border-bottom: 1.5px solid #000;
    padding: 0 5px;
    margin-left: 10px;
    min-width: 76.5%;
    text-align: start;
}

.summary-line-2{
    margin-left: 121px;
}

/* new */

.endorse-section {
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    margin-top: 15px;
    margin-left: 5px;
}

.endorse-left {
    width: 55%;
}

.endorse-right {
    width: 35%;
    text-align: right;
    padding-top: 30px;
}

.endorse-title {
    font-weight: bold;
    margin-bottom: 6px;
}

.endorse-label-1,
.endorse-label-2,
.endorse-label-3
 {
    font-weight: 500;
    margin-bottom: -15px;
}
.endorse-label-1{
    padding-right: 45px;
}
.endorse-label-2{
    padding-right: 52px;
}
.endorse-label-3{
    padding-right: 49px;
}

.endorse-value-red {
    color: red;
    font-weight: 500;

}

.endorse-date {
    font-size: 16px;
    padding-left: 15px;
}

.endorse-sign {
    margin-top: 15px;
    font-weight: 500;
    font-size: 16px;
}

.endorse-left p{
    margin-bottom: 0;
}

/* warrant end */