.first-agreement-container {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 600;
}
/* .for-bottom-border{
    position: relative;
  }
  .client-agreement-header::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    background-color: #000;
    bottom: -10px;
  } */

.logo {
    width: 380px;
    margin-right: 10px;
}

.debt-text {
    margin-left: 20px;
    padding-top: 24px;
    font-size: 45px;
    font-weight: 500;
    font-family: "Barlow", sans-serif;
}

hr {
    background: #000;
    padding-top: 2px;
    transform: translateY(-21px);
}

.text-to {
    position: relative;
    margin-right: 155px;
}
.f-ol-li1{
    position: relative;
}
.to-margin {
    position: absolute;
    left: 310px;
}

.text-to::after {
    content: "";
    position: absolute;
    background: #000;
    height: 1.5px;
    width: 150px;
    bottom: -3px;
    left: 45px;
}

.text-and {
    position: relative;
    margin-right: 290px;
}

.text-and::after {
    content: "";
    position: absolute;
    background: #000;
    height: 1px;
    width: 290px;
    bottom: -5px;
    left: -968px;
}

.and-margin {
    position: absolute;
    left: 120px;
}

.d-f-agreement {
    margin-left: 160px;
    position: relative;
}
.date_of_agreement_top {
    position: absolute;
    right: 2px;
    top: 7px;
}

.d-f-agreement::after {
    content: "";
    position: absolute;
    background: #000;
    height: 1px;
    width: 162px;
    bottom: -5px;
    left: 140px;
}

.expiry {
    padding-right: 21px;
    position: relative;
}
.date_of_expiry {
    position: absolute;
    right: -0px;
    top: 16px;
}

.d-f-expiry {
    margin-left: 194px;
    position: relative;
}

.d-f-expiry::after {
    content: "";
    position: absolute;
    background: #000;
    height: 1px;
    width: 164px;
    bottom: -5px;
    left: 108px;
}

.case-num {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    text-align: center;
    color: #ffff;
    background: #000;
    font-weight: 600;
    padding-left: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 0;
    border-bottom: none;
    border: 1px solid black;
}

.case-prov {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 13px;
    color: #ffff;
    background: #000;
    font-weight: 600;
    padding-left: 0;
    padding-right: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    border: 1px solid black;
}

.for-p {
    padding-left: 58px;
    box-sizing: border-box;
}

.for-p2 {
    padding-left: 60px;
    box-sizing: border-box;
}

.box-1st {
    border: 2px solid black;
    padding-top: 7px;
}

.box-2nd {
    border: 2px solid black;
    padding-top: 7px;
}

/*  */

.bd-highlight {
    margin-left: -15px;
}

.col-md-3 {
    max-width: 20%;
}

.s-dollar-sign {
    position: relative;
    margin-right: 146px;
}

.s-dollar-sign::after {
    content: "";
    position: absolute;
    background: #000;
    width: 150px;
    height: 2px;
    left: 15px;
    bottom: -3px;
}

.dollar-margin {
position: absolute;
left: 80px;
}

.text-be {
    position: relative;
    margin-right: 55px;
}

.text-be::after {
    content: "";
    position: absolute;
    background: #000;
    width: 60px;
    height: 2px;
    left: 17px;
    bottom: -3px;
}

.be-margin {
position: absolute;
left: 40px;
}

.text-of {
    position: relative;
    margin-right: 38px;
}

.text-of::after {
    content: "";
    position: absolute;
    background: #000;
    width: 40px;
    height: 2px;
    left: 17px;
    bottom: -3px;
}

.of-margin {
    position: absolute;
    left: 25px;
}

/*  */

.four-ul {
    list-style: none;
    padding: 0;
    margin-left: -14px;
}

/* .dear-sir h5 {
    padding-top: 17px;
    padding-left: 15px;
    font-size: 15px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
} */

.ol-start .first-ol {
    padding-right: 50px;
    font-size: 14px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

.ol-start .first-ol li {
    margin-top: 16px;
    padding-left: 15px;
    line-height: 25px;
}

/* provisions start */
.new-ul-start .provisions li {
    padding-bottom: 20px;
    list-style: none;
}

.new-text p {
    font-size: 13px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    padding-left: 35px;
}

.new-text .further {
    padding-left: 10px;
}

.right-padd {
    padding-left: 30px;
}

.right-within {
    padding-left: 38px;
}

.another-padd {
    padding-left: 38px;
}

.continue-ul {
    margin-top: 15px;
    padding-left: 150px;
}

.after-ul {
    margin-top: 15px;
    padding-left: 60px;
}

.dated {
    position: relative;
}

.dated::after {
    content: "";
    position: absolute;
    background: #000;
    width: 170px;
    height: 2px;
    bottom: -5px;
    right: -410%;
}

.january-4 {
    padding-left: 50px;
    font-weight: 700;
}

.company_uen {
    padding-left: 80px;
}
.company_name{
    padding-left: 53px;
}
.date_uen {
    padding-left: 130px;
}

.company_uen_2 {
    padding-left: 68px;
}

.another-row {
    margin-block: 40px;
}

.another-row .second-box {
    position: relative;
    margin-top: -20px;
    padding-bottom: 30px;
}

.another-row .second-box::after {
    content: "";
    position: absolute;
    width: 1.5px;
    height: 270px;
    background: #000;
    top: 0;
    left: -35px;
}

.another-row .second-box::before {
    content: "";
    position: absolute;
    width: 1.5px;
    height: 270px;
    background: #000;
    top: 0;
    left: -31px;
}

.sincere h4 {
    margin-bottom: 80px;
    margin-top: -20px;
}

.director {
    font-size: 14px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

.for-after {
    position: relative;
}

.for-after::after {
    content: "";
    position: absolute;
    width: 360px;
    height: 1.5px;
    background: #000;
    top: -20px;
    left: -10px;
}

.ravin {
    padding-left: 65px;
}

.ravin-date {
    padding-left: 86px;
}

.sincere .enclosed {
    font-size: 16px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    padding-top: 70px;
}

.company {
    position: relative;
}

.company::after {
    content: "";
    position: absolute;
    width: 290px;
    height: 1.5px;
    background: #000;
    bottom: -1px;
    left: 132px;
}

.Date {
    position: relative;
}

.Date::after {
    content: "";
    position: absolute;
    width: 290px;
    height: 1.5px;
    background: #000;
    bottom: -1px;
    left: 132px;
}

.location {
    display: none;
}
.location-for-second-page {
    display: none;
}

.Client {
    position: relative;
}

.Client::after {
    content: "";
    position: absolute;
    width: 290px;
    height: 1.5px;
    background: #000;
    bottom: -1px;
    left: 132px;
}

.designation {
    position: relative;
}

.designation::after {
    content: "";
    position: absolute;
    width: 290px;
    height: 1.5px;
    background: #000;
    bottom: -1px;
    left: 132px;
}

.stamp {
    position: relative;
    font-size: 13px;
}

.stamp:after {
    content: "";
    position: absolute;
    width: 290px;
    height: 1.5px;
    border: 1px dotted #000000;
    bottom: -6px;
    left: 132px;
}

.collection-li {
    position: relative;
}

.collection-li::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100px;
    background: #000000;
    right: -210px;
    bottom: 0;
}

.serve {
    margin-left: -30px;
}

.hello_securre_mail,
.hello_securre_web {
    text-decoration: underline;
}

/* first page end */

/* second section start */


.second-section {
    font-weight: 600;
    font-size: 16px;
}
.warrant-act h1 {
    font-size: 100px;
    font-weight: 400;
    font-family: "Judson", serif;
}
.warrant-act p {
    padding-bottom: 15px;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}
.new-hr {
    background: #000;
    padding-top: 2px;
    transform: translateY(-15px);
}

/*  */
.to-securre {
    padding-left: 10px;
    padding-right: 12px;
}
.client-information {
    padding: 4px 15px;
    background: #000;
    color: #ffff;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
}

.new-case {
    margin-top: 25px;
    margin-left: 220px;
}
.case-ref {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-align: center;
    color: #ffff;
    background: #000;
    font-weight: 500;
    padding-left: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 0;
}
.data-for-case {
    text-align: center;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
    position: relative;
}
.case_ref {
    position: absolute;
    top: 0;
    left: 10px;
}

.debtor-information {
    padding: 4px 15px;
    background: #000;
    color: #ffff;
    font-size: 16px;
    font-weight: 600;
    margin-left: 25px;
}
.take-information ul {
    margin-top: 15px;
    margin-bottom: 30px;
}

.list-unstyled {
    margin-left: -30px;
}

.take-information ul li {
    margin-top: 8px;
}
.full-name {
    padding-left: 63px;
    position: relative;
}
.full-name::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 800px;
    background: #000;
    bottom: -4px;
    left: 105%;
}

.company-name {
    padding-left: 20px;
    position: relative;
}
.company-name::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 800px;
    background: #000;
    bottom: -4px;
    left: 105%;
}

.nric-no {
    padding-left: 31px;
    position: relative;
}
.nric-no::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 800px;
    background: #000;
    bottom: -4px;
    left: 105%;
}
.contact {
    position: relative;
}
.lorem3 {
    position: absolute;
    left: 0;
    top: 0;
}

.contact-no {
    padding-left: 49px;
    position: relative;
}
.contact-no::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 800px;
    background: #000;
    bottom: -4px;
    left: 105%;
}

.email-add {
    padding-left: 58px;
    position: relative;
}
.email-add::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 800px;
    background: #000;
    bottom: -4px;
    left: 105%;
}


.email-id {
    padding-left: 72px;
    position: relative;
}
.email-id::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 800px;
    background: #000;
    bottom: -4px;
    left: 105%;
}
.address {
    padding-left: 77px;
    position: relative;
}
/* .address::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 800px;
    background: #000;
    bottom: -4px;
    left: 105%;
} */
/* .address::before {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 800px;
    background: #000;
    bottom: -34px;
    left: 105%;
} */
.address-2 {
    padding-left: 77px;
    position: relative;
}
.address-2::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 800px;
    background: #000;
    bottom: -4px;
    left: 105%;
}

.remarks-li {
    padding-bottom: 50px;
}

.remarks {
    padding-left: 72px;
    position: relative;
}

.remarks::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 800px;
    background: #000;
    bottom: -4px;
    left: 105%;
}

.remarks::before {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 800px;
    background: #000;
    bottom: -34px;
    left: 105%;
}

/*  */

.padding-for-new-data1 {
    padding-left: 6px;
}

.padding-for-new-data2 {
    padding-left: 6px;
}

.padding-for-new-data3 {
    padding-left: 6px;
}

.padding-for-new-data4 {
    padding-left: 6px;
}

.padding-for-new-data5 {
    padding-left: 6px;
}

.padding-for-new-data6 {
    padding-left: 6px;
}

.padding-for-new-data7 {
    padding-left: 10px;
}

/*  */

.debt-amount-row {
    border: 2px solid #000;
    padding-top: 20px;
    padding-bottom: 17px;
    margin-bottom: 30px;
}

.right-usd-data {
    position: absolute;
    top: 18px;
    left: 65%;
}
.bracket_end {
    position: absolute;
    right: 20px;
}

.total-debt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.new-usd{
    font-size: 20px;
}
.new-usd-after {
    font-size: 20px;
    font-weight: 500;
    padding-right: 20px;
    padding-left: 7px;
}
.new-usd-after span {
    margin-left: 0px;
}

.digit-amount{
    font-size: 16px;
    font-weight: 800;
}

.some-symble{
    font-size: 20px;
    font-weight: 500;
    padding-left: 12px;
    padding-right: 7px;
}
/* .new-usd-after::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 1.3px;
    background: #000;
    bottom: 0;
    right: 100;
} */
.another-information-row ol {
    padding-left: 60px;
    padding-right: 40px;
}
.another-information-row ol li {
    padding-left: 50px;
    padding-top: 17px;
}
.me-us-after {
    position: relative;
}
.me-us-after::after {
    content: "";
    position: absolute;
    height: 1.4px;
    width: 477px;
    background: #000;
    bottom: 0;
    left: 57px;
}
.me-us-after::before {
    content: ",";
    position: absolute;
    left: 539px;
    top: 0;
}

.agreement_name {
   margin-left: 10px;
}
.agreement_nric {
    margin-left: 10px;
}

.nric-no-uen-after {
    position: relative;
    margin-right: 462px;
}
.nric-no-uen-after::after {
    content: "";
    position: absolute;
    height: 1.4px;
    width: 448px;
    background: #000;
    bottom: 0;
    left: 113px;
}
.nric-no-uen-after::before {
    content: "),";
    position: absolute;
    top: 0;
    right: -460px;
}

.person {
    position: relative;
    margin-right: 320px;
}
.person::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 320px;
    background: #000;
    bottom: 0;
    left: 55px;
}
.contact {
    position: relative;
    padding-left: 30px;
}
.contact::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 200px;
    background: #000;
    bottom: 0;
    left: 91px;
}
.contact::before {
    content: ",";
    position: absolute;
    left: 22px;
}
.lorem-2 {
    position: absolute;
    left: 75px;
}

.lorem-3 {
    padding-left: 15px;
}

/*  */

.last-ul{
    margin-top: 20px;
}
.last-ul li {
    list-style: none;
    margin-left: -20px;
    margin-top: 5px;
}

.last-ul :nth-of-type(5) {
    margin-top: 25px;
}


.data-mr1 {
    margin-left: 80px;
}

.data-mr2 {
    margin-left: 36px;
}

.data-mr3 {
    margin-left: 48px;
}

.data-mr4 {
    margin-left: 68px;
}

.data-mr5 {
    margin-left: 80px;
}

.new-underline {
    text-decoration: underline;
}
footer {
    display: none;
}
/* second section end */

